html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: rgba(149, 111, 150, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button {
  background: #fff;
  border: none;
  padding: .75rem 1rem;
  border-radius: .25rem;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 740px;
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-wrap: wrap;

  & > input {
    flex: 1 1 10ch;
    margin: .5rem;
  }
}

input {
  border: none;
  border-radius: .25rem;
  padding: .75rem 1rem;
}

.line-through {
  text-decoration: line-through;
}

.border {
  border: 1px solid #000;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.history-buttons {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  button {
    margin-right: 10px;
  }
}

.todo {

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
    width: 740px;
  }

  &__create {
    max-width: 740px;

    &-form {
      margin-bottom: 10px;
    }

    &-todos {
      margin-top: 10px;
      margin-bottom: 10px;

      &--list {
        margin-top: 10px;
      }

      &--item {
        text-align: left;
        background-color: #fff;
        border-radius: .25rem;
        padding: .75rem 1rem;
        margin-bottom: 10px;
        display: flex;
        height: 65px;
        align-items: center;
        justify-content: space-between;
      }

      &--actions {
        &--button {
          background: #fff;
          border: none;
          border-radius: .25rem;
        }
      }
    }

    &-form-group {
      margin-right: 15px;

      &--label {
        margin-right: 10px;
      }

      &--button {
        background: #fff;
        border: none;
        padding: .75rem 1rem;
        border-radius: .25rem;
      }
    }
  }

  &__item {
    width: 100%;
    background-color: rgba(149, 111, 150, 0.3);
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 18px;
    }

    &-subitems {
      padding: 10px 0 0 10px;
      font-weight: bold;
    }

    &-subitem {
      font-weight: normal;
    }

    &-actions {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }

    }

  }
}
