<template>
  <div>
    <Nuxt />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { SET_NOTES_FROM_STORE } from '~/constants/actions'

export default {
  beforeMount () {
    // LOAD NOTES FROM LOCALSTORAGE TO STORE
    this.setNotes()
  },
  methods: {
    ...mapActions('notes', [SET_NOTES_FROM_STORE]),
    setNotes () {
      this.SET_NOTES_FROM_STORE()
    }
  }
}
</script>
