<template>
  <form class="todo__create-form">
    <div class="todo__create-form-group">
      <label class="todo__create-form-group--label">Title</label>
      <input v-model="setNote.title" class="todo__create-form-group--input" placeholder="Title" @change="writeHistory">
    </div>
    <div class="todo__create-form-group">
      <label class="todo__create-form-group--label">Add todo</label>
      <input v-model="setTodo.title" class="todo__create-form-group--input" placeholder="Todo" @change="writeHistory">
      <button class="todo__create-form-group--button" @click.prevent="$emit('addTodo')">
        <font-awesome-icon icon="plus" />
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'NoteForm',
  props: {
    addTodo: {
      type: Function,
      default: () => {}
    },
    note: {
      type: Object,
      default: () => {}
    },
    todo: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    setNote: {
      get () {
        return this.note
      },
      set () {
        this.$emit('update:note', this.note)
      }
    },
    setTodo: {
      get () {
        return this.todo
      },
      set () {
        this.$emit('update:todo', this.todo)
      }
    }
  },
  methods: {
    writeHistory () {
      this.$emit('writeHistory')
    }
  }
}
</script>

<style scoped>

</style>
